.navbar-brand img{
    max-height: 32px;
}

.bg-light {
    background-color: #cecece!important;
}


header .row{
    min-height: 80vh;
    background-image: url(../img/futur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:rgb(219, 219, 219);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);

}

header .formBlack{
    background-color: rgba(0,0,0,0.5);
    min-height: 80vh;

    font-family: 'Manrope', sans-serif;

}

#compt .media span{
    font-size:3rem;
}




#conta .row{
    min-height: 75vh;
    
}

.formContact{
    background-color: rgba(56, 56, 56, 0.25);
    padding: 2rem 1rem;
}


footer{
    background-color: rgb(68, 68, 68);
    color:#999;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

body{
    background-color: rgb(243, 243, 243);
}